.l-header {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 15px;
  &__contact-details {
    @include grid-column(12)
    @media #{$medium-up} {
      @include grid-column($columns:5, $float:right);
    }
  }
  &__inner { @include grid-row(); }
  &__manufacturer-logo {
    margin-top: 25px;
    text-align: center;
    @include grid-column(12);
    @media #{$medium-up} {
      margin-top: 0;
      text-align: right;
      @include grid-column(8);
    }
  }
  &__logo {
    text-align: center;
    @include grid-column(12);

    @media #{$medium-up} {
      text-align: left;
      @include grid-column(4);
      margin-top: 38px;
    }
  }
}
