.not-front {
  .l-main {
    margin-top: 20px;
    @media #{$medium-up} {
      margin-top: 60px;
    }
    &__inner { @include grid-row(); }
    .l-main-content {
      @include grid-column(12);
      &.l-main-content--with-sidebar {
        @media #{$medium-up} {
          @include grid-column($columns:9);
        }
      }
    }
    .l-sidebar {
      @include grid-column(12);
      @media #{$medium-up} {
        @include grid-column($columns:3);
        padding-left: 0;
      }
    }
  }

}

// Make the main styling full width for vehicle pages
.node-type-used-vehicle {
  .l-main {
    margin-top: 20px;
    @media #{$medium-up} {
      margin-top: 60px;
    }
    &__inner {
      @include grid-row();
      max-width: 100%;
    }
    .l-main-content {
      @include grid-column($columns:12,$collapse: true);
    }
  }
}
