// Button

// Default styling for button
.button,
button {
  border-bottom: {
    color: darken($primary-color, 10%);
    width: 2px;
    style: solid;
  }
  height: 47px;
  font: {
    size: rem-calc(15);
    weight: 700;
  }
  @include CSMCborder-radius(2px);
  &:hover {
    border-bottom-color: $secondary-color;
  }
}


.bean-call-to-action-used-vehicle:focus,
.bean-call-to-action-used-vehicle:hover,
.button:focus,
.button:hover,
.node-branch .field-name-get-directions .directions__submit button:focus,
.node-branch .field-name-get-directions .directions__submit button:hover,
.node-page.view-mode-teaser .field-name-node-link a:focus,
.node-page.view-mode-teaser .field-name-node-link a:hover,
.node-used-vehicle.view-mode-full .files-list li a:focus,
.node-used-vehicle.view-mode-full .files-list li a:hover,
.tabs .tab-title.active a:focus,
.tabs .tab-title.active a:hover,
button:focus,
button:hover,
ul.pagination li.current a:focus,
ul.pagination li.current a:hover,
ul.pagination li.current button:focus,
ul.pagination li.current button:hover { background-color: $secondary-color; }

@media #{$small-only} {
  .vocabulary-telephone-numbers.view-mode-header_phone_numbers:focus,
  .vocabulary-telephone-numbers.view-mode-header_phone_numbers:hover { background-color: $secondary-color; }
}
