// view-nor-related-vehicles styling
.view-csmc-related-vehicles {
  // Related New Vehicles
  &.view-display-id-related_new_vehicles {
    .view-new-vehicle-related__list {
      @include block-grid(1);
      li {
        background-color: $secondary-color;
        padding: 0;
      }
    }
    .views-field-field-new-veh-images {
      display: inline-block;
      width: 30%;
    }
    .views-field-title {
      display: inline-block;
      width: 70%;
      a {
        color: #ffffff;
        display: block;
        padding-left: 10px;
        width: 100%;
      }
    }
  }

}
