// Contact Page View Mode
.l-node-branch--contact-page {
  padding: 5px;
  @extend .csmc-drop-shadow--with-bg-colour;
  @include grid-row();
  @media #{$medium-only} {
    padding: 20px;
  }
  @media #{$large-up} {
    padding: 40px;
  }
  &__address,
  &__directions {
    @include grid-column(12);
    @media #{$large-up} { @include grid-column(6); }
  }
  &__departments {
    @include grid-column(12);
    margin-top: 10px;
    @media #{$medium-only} {
      margin-top: 40px;
    }
  }
  &__title { @include grid-column(12); }
}

// Footer View Mode
.l-node-branch--footer {
  &__address,
  &__title { display: inline-block; }
}

// Vehicle Branch View Mode
.l-node-branch--vehicle-branch {
  @include grid-row($behavior:nest);
  &__details,
  &__map {
    @include grid-column(12);
    @media #{$large-up} { @include grid-column(6); }
  }
}
