.csmc_sidebar_ctas {
  display: block;
  position: fixed;
  right: 0;
  top: 250px;
  z-index: 100;
}

@media only screen and (max-width : 768px) {
  .csmc_sidebar_ctas {
    display: none;
  }
}

.csmc_sidebar_ctas__list {
  list-style: none;
  margin: 0;
}

.csmc_sidebar_ctas--call-to-action a {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  display: block;
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 1px;
  padding: 11px;
  text-align: center;
}

.csmc_sidebar_ctas--call-to-action a:hover {
  background-color: #ffffff;
}

.csmc_sidebar_ctas--call-to-action a img,
.csmc_sidebar_ctas--call-to-action a i {
  display: block;
  margin: 0 auto 5px;
}

.csmc_sidebar_ctas--call-to-action a i {
  font-size: 18px;
  padding-top: 3px;
}
